<a href="https://colab.research.google.com/github/arunguna06/arunguna06/blob/main/Task_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import io
import os
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
from google.colab import files
  
  
uploaded = files.upload()

Saving college_2.csv to college_2.csv
Saving college_1.csv to college_1.csv

In [4]:

df = pd.concat(
    map(pd.read_csv, ['college_1.csv', 'college_2.csv']), ignore_index=True)
print(df)

              Name  python  mysql  ...  Rising  python_en computational_thinking
0        A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1      V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2      HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN
3      Mugunthan S   100.0   47.0  ...       0        NaN                    NaN
4      Sathammai.S   100.0    8.0  ...       0        NaN                    NaN
..             ...     ...    ...  ...     ...        ...                    ...
114  praveen raj j    24.0    0.0  ...       0       -1.0                    0.0
115     AMARNATH D    -1.0   12.0  ...       0       52.0                   -1.0
116           bala    32.0    0.0  ...       0       49.0                   -1.0
117           XY Z    -1.0   -1.0  ...       0       20.0                   -1.0
118      Hariharan    -1.0   -1.0  ...       0       -1.0                    0.0

[119 rows x 9 columns]

In [5]:
exceed = df[df["CodeKata Score"]>15000]
exceed.to_csv("Exceede_expectations.csv", index=False)
max_score = 15000
my_range = range(10000, max_score)
for k in range(len(my_range)):
  expected = df[(df["CodeKata Score"]>=10000) & (df["CodeKata Score"]<= 15000)]
  expected.to_csv("Reached.csv", index=False)
max_score = 10000
my_range = range(7000, max_score)
for k in range(len(my_range)):
  needy = df[(df["CodeKata Score"]>=7000) & (df["CodeKata Score"]<= 10000)]
  needy.to_csv("Needs_improvement.csv", index=False)
unsat = df[df["CodeKata Score"]<7000]
unsat.to_csv("Unsatisfied.csv", index=False)

In [9]:
Average_geeks_vs_codekata = df[["Previous Geekions","CodeKata Score"]].mean()
print(Average_geeks_vs_codekata)

Previous Geekions    3842.352941
CodeKata Score       4051.764706
dtype: float64

In [16]:
total_students = df.shape[0]
total_students

119

In [25]:
avg_python = df["python"].mean()
avg_python_en = df["python_en"].mean()
avg_mysql = df["mysql"].mean()
avg_computaional_thinking = df["computational_thinking"].mean()
# avg_python
# avg_python_en
# avg_mysql
# avg_computaional_thinking

54.35294117647059

In [26]:
df.nlargest(3, ['CodeKata Score'])

          Name  python  mysql  ...  Rising  python_en computational_thinking
0    A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1  V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2  HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN

[3 rows x 9 columns]

In [27]:
df.nlargest(3, ["Previous Geekions"])

          Name  python  mysql  ...  Rising  python_en computational_thinking
0    A.Dharani    82.0   20.0  ...       0        NaN                    NaN
1  V.JEEVITHA     82.0   20.0  ...       0        NaN                    NaN
2  HEMAVATHI.R   100.0  100.0  ...       0        NaN                    NaN

[3 rows x 9 columns]

In [ ]:
data = df["CodeKata Score"]
depart = df["Department"]
fig = plt.figure(figsize =(10, 7))
plt.pie(data, labels = depart)
plt.show()

In [82]:
dfg = df.groupby(['Department'])['CodeKata Score']
dfg.first()

Department
Computer Science and Engineering             24500
Electronics and Communication Engineering     7880
Electronics and Electrical Engineering         260
Name: CodeKata Score, dtype: int64